@use "vars" as *;

/* ====================================================
HTML
==================================================== */
html {
	font-size: 62.5%;
}

body {
	overflow-x: hidden;
	color: #0F1A2A;
	@include font-fm($font-en, 400); 
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	background: #fff;
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	outline: none;
	@include smooth-transition;
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: inline-block;
	}
	&[href^="tel"] {
		@include mq(md-min){
			pointer-events: none;
		}
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
