@use "vars" as *;

#page-contact{
	.breadcrumb{
		margin-bottom: 75px;
	}
}


.contact-page{
	padding-bottom: 12.500vw;
	@include mq{
		padding-bottom: 90px;
	}
	&__form{
		max-width: 910px;
		width: 100%;
		margin: 0 auto;
		padding: 60px 22px;
		border-radius: 24px;
		background: linear-gradient(0deg, #F6F8FC, #F6F8FC), linear-gradient(0deg, #E2E8F0, #E2E8F0);
		@include mq{
			padding: 40px 24px;
		}
		&-ttl{
			@include font-size(32);
			text-align: center;
			font-weight: 600;
			margin-bottom: 87px;
			@include mq{
				@include font-size(20);
				margin-bottom: 40px;
			}
		}
		&-list{
			@include flex(0, 0, wrap);
			margin: 0 -20px;
			@include mq(sm){
				margin: 0;
			}
		}
		&-item{
			width: 50%;
			padding: 0 20px;
			margin-bottom: 32px;
			@include mq(sm){
				width: 100%;
				padding: 0;
				margin-bottom: 15px;
			}
			&:last-of-type{
				margin-bottom: 42px;
				@include mq{
					margin-bottom: 32px;
				}
			}
			&--full{
				width: 100%;
			}
		}
		&-label{
			@include font-size(18);
			font-weight: 600;
			margin-bottom: 10px;
			@include mq{
				@include font-size(16);
			}
			sub{
				color: #ED2649;
				@include font-size(16);
				position: relative;
				top: -5px;
			}
		}
	}
}

.btn-submit{
	background: #03A34D;
	width: 190px;
	height: 60px;
	border-radius: 50px;
	@include flex(center, center);
	@include font-size(18);
	color: #fff;
	font-weight: 600;
	outline: 0;
	border: none;
	margin: 0 auto;
	cursor: pointer;
	@include smooth-transition;
	&:hover{
		opacity: .7;
		@include smooth-transition;
	}
}