@use "vars" as *;

/* ====================================================
Header
==================================================== */
.main-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 1000;
	transition: .3s;
	padding: 30px 50px;
	@include mq(tb){
		height: auto;
		padding: 15px 20px;
	}
	@include mq() {
		padding: 10px 10px;
		height: 48px;
	}
	&__wp{
		@include flex(between, center ,wrap);
		margin: 0 auto;
		@include mq(tb-min) {
			padding-left: 20px;
		}
	}
	&__logo{
		width: 300px;
		@include flex(0, end);
		position: relative;
		.logo-wt{
			display: block;
		}
		.logo{
			display: none;
		}
		@include mq() {
			width: 160px;
		}
	}
	&__navGlobal{
		width: calc(100% - 300px);
		@include mq(md-min) {
			display: block!important;
		}
		@include mq() {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			padding: 48px 20px;
			width: 73%;
		}
		&.is-show{
			@include mq{
				background: #fff;
				height: 100vh;
			}
			@include p-before(37%, 100%){
				background: rgba($color: #000000, $alpha: .5);

				top: 0;
				left: 0;
				transform: translateX(-100%);
			}
		}
	}
	&__label{
		@include font-size(24);
		font-weight: 700;
		margin-bottom: 32px;
	}
	&__menu{
		@include mq(md-min) {
			@include flex(end, center);
		}
		&-item{
			margin-left: 32px;
			@include mq(xl){
				margin-left: 1em;
			}
			@include mq(tb) {
				@include font-size(16);
			}
			@include mq{
				margin-left: 0;
				padding-bottom: 16px;
				margin-bottom: 16px;
				border-bottom: 1px solid #F1F4F9;
			}
			&:last-of-type{
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: none;
			}
			&--contact{
				a{
					padding: 7px 15px;
					border: 1px solid #fff;
					border-radius: 30px;
					@include smooth-transition;
					@include mq{
						padding: 0;
					}
					&:hover{
						border-color: #03A34D;
						background: #fff;
						color: #000;
						@include smooth-transition;
					}
					&:after{
						display: none;
					}
				}
			}
			&.active{
				a{
					color: #03A34D !important;
					&::after{
						width: 100%;
						opacity: 1;
						background: #03A34D !important;
						@include mq(tb-min){
							visibility: visible;
						}
					}
				}
			}
		}
	}
	&__link{
		display: inline-block;
		font-weight: 600;
		color: #fff;
		@include font-size(16);
		position: relative;
		@include p-after(0, 1px){
			background: #fff;
			left: 0;
			bottom: -5px;
			@include smooth-transition;
			opacity: 0;
			visibility: hidden;
		}
		@include mq{
			color: #0F1A2A;
		}
		&:hover{
			&:after{
				@include mq(md-min){
					opacity: 1;
					visibility: visible;
					width: 100%;
					@include smooth-transition;
				}
			}
		}
	}	
	&__mobile-icon {
		position: absolute;
		top: 50%;
		right: 17px;
		transform: translateY(-50%);
		display: none;
		width: 21px;
		height: 14px;
		transition: background .5s;
		z-index: 102;
		cursor: pointer;
		@include mq(){
			display: block;
		}
		&-border{
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			display: block;
			width: 21px;
			height: 2px;
			user-select: none;
			transition: background-color 0.3s;
			background: #fff;
			&:nth-child(1){
				margin-top: 7px;
				margin-left: -10px;
			}
			&:nth-child(3){
				margin-top: -7px;
				margin-left: -10px;
			}
		}
		&.mobile-close{
			top: 60px;
			span{
				background: #000;
			}
		}
	}
	

//active	
	&.is-active, &.header-child{
		background: rgba(#000, .5);
		@include mq(md-min){
			background: #fff;
			box-shadow: 0 0 10px rgba(#000, .1);
			.main-header__logo{
				.logo-wt{
					display: none;
				}
				.logo{
					display: block;
				}
				span{
					color: #0F1A2A;
				}
			}
			.main-header__link{
				color: #0F1A2A;
				&:after{
					background: #0F1A2A;
				}
			}
			.main-header__menu-item--contact{
				.main-header__link{
					border: 1px solid #03A34D;
					color: #03A34D;
				}			
			}
		}
	}
	&.header-child{
		background: #fff;
		.main-header__logo{
			.logo-wt{
				display: none;
			}
			.logo{
				display: block;
			}
		}
		.main-header__mobile-icon{
			span{
				background: #03A34D;
			}
			&.mobile-close{
				span{
					background: #0F1A2A;
				}
			}
		}
	}
}


// mobile menu btn animation
@media screen and (max-width: 1024px) {
	.main-header__mobile-icon-border:nth-child(1) {
		-webkit-animation: click-header-sp-bar-1-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-1-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	
	@-webkit-keyframes click-header-sp-bar-1-close {
		0% {
			transform: translateY(5px) rotate(45deg)
		}
		50% {
			transform: translateY(5px) rotate(0)
		}
		100% {
			transform: translateY(0) rotate(0)
		}
	}
	@keyframes click-header-sp-bar-1-close {
		0% {
			transform: translateY(5px) rotate(45deg)
		}
		50% {
			transform: translateY(5px) rotate(0)
		}
		100% {
			transform: translateY(0) rotate(0)
		}
	}
	.main-header__mobile-icon-border:nth-child(2) {
		-webkit-animation: click-header-sp-bar-2-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-2-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-2-close {
		0% {
			opacity: 0
		}
		20% {
			opacity: 0
		}
		100% {
			opacity: 1
		}
	}
	@keyframes click-header-sp-bar-2-close {
		0% {
			opacity: 0
		}
		20% {
			opacity: 0
		}
		100% {
			opacity: 1
		}
	}
	.main-header__mobile-icon-border:nth-child(3) {
		-webkit-animation: click-header-sp-bar-3-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-3-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-3-close {
		0% {
			transform: translateY(-5px) rotate(-45deg)
		}
		50% {
			transform: translateY(-5px) rotate(0)
		}
		100% {
			transform: translateY(0) rotate(0)
		}
	}
	@keyframes click-header-sp-bar-3-close {
		0% {
			transform: translateY(-5px) rotate(-45deg)
		}
		50% {
			transform: translateY(-5px) rotate(0)
		}
		100% {
			transform: translateY(0) rotate(0)
		}
	}
	
//menu opened		
	.mobile-close .main-header__mobile-icon-border:nth-child(1) {
		margin-top: -5px;
		-webkit-animation: click-header-sp-bar-1-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-1-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-1-open {
		0% {
			transform: translateY(0) rotate(0)
		}
		50% {
			transform: translateY(5px) rotate(0)
		}
		100% {
			transform: translateY(5px) rotate(45deg)
		}
	}
	@keyframes click-header-sp-bar-1-open {
		0% {
			transform: translateY(0) rotate(0)
		}
		50% {
			transform: translateY(5px) rotate(0)
		}
		100% {
			transform: translateY(5px) rotate(45deg)
		}
	}
	.mobile-close .main-header__mobile-icon-border:nth-child(2) {
		-webkit-animation: click-header-sp-bar-2-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-2-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-2-open {
		0% {
			opacity: 1
		}
		80% {
			opacity: 0
		}
		100% {
			opacity: 0
		}
	}
	@keyframes click-header-sp-bar-2-open {
		0% {
			opacity: 1
		}
		80% {
			opacity: 0
		}
		100% {
			opacity: 0
		}
	}
	.mobile-close .main-header__mobile-icon-border:nth-child(3) {
		margin-top: 5px;
		-webkit-animation: click-header-sp-bar-3-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-3-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-3-open {
		0% {
			transform: translateY(0) rotate(0)
		}
		50% {
			transform: translateY(-5px) rotate(0)
		}
		100% {
			transform: translateY(-5px) rotate(-45deg)
		}
	}
	@keyframes click-header-sp-bar-3-open {
		0% {
			transform: translateY(0) rotate(0)
		}
		50% {
			transform: translateY(-5px) rotate(0)
		}
		100% {
			transform: translateY(-5px) rotate(-45deg)
		}
	}
}



.is-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}