@use "vars" as *;

.mv-top {
	height: 100vh;
	position: relative;

	.slider-dots-box {
		position: absolute;
		left: 50px;
		bottom: 40px;
		margin-top: 0;
		@include mq{
			left: 50%;
			bottom: 20px;
			transform: translateX(-50%);
		}
		.slick-active button {
			&:after {
				background: #fff;
			}
		}
		.slider-dots button {
			&:after {
				background: #fff !important;
			}
		}

		.circle-go {
			stroke: #fff;
		}
	}
	&__ct {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		text-align: center;
		padding: 0 50px;

		@include mq {
			padding: 0 12px;
		}

		@include mq(sm) {
			text-align: left;
			transform: none;
			top: auto;
			left: 0;
			bottom: 56px;
		}

		&-ttl {
			@include font-size(120);
			font-weight: 600;
			margin-bottom: 20px;

			@include mq(xl) {
				@include font-size(80);
			}

			@include mq {
				@include font-size(38);
			}
		}

		&-desc {
			@include fts(48, 76.8);
			font-weight: 600;

			@include mq(xl) {
				@include font-size(35);
			}

			@include mq {
				@include font-size(24);
			}
		}
	}

	&__slider {
		&-item {
			outline: none !important;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			opacity: 1 !important;
			transition: opacity 0ms ease 0s !important;
			overflow: hidden;

			img {
				height: 100vh;
				width: 100%;
				@include object-fit(cover);
				transition: 10s linear;
			}

			&.slick-active {
				.mv-top__slider-img {
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					opacity: 1;
					transition: 4s linear;

					img {
						transform: scale(1.2) rotate(.1deg);
						transition: 10s linear;
						z-index: 1;
					}
				}
			}

			&.first {
				img {
					-webkit-transform: scale(1) rotate(.1deg);
					-ms-transform: scale(1) rotate(.1deg);
					transform: scale(1) rotate(.1deg);
				}

				&.active {
					img {
						-webkit-transform: scale(1.4) rotate(.1deg);
						-ms-transform: scale(1.4) rotate(.1deg);
						transform: scale(1.4) rotate(.1deg);
						-webkit-transition: 10s linear;
						transition: 10s linear;
						z-index: 1;
					}
				}
			}

			&.prev {
				.mv-top__slider-img {
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					opacity: 0;
					-webkit-transition: 10s linear;
					transition: 10s linear;

					img {
						-webkit-transform: scale(1.4) rotate(.1deg);
						-ms-transform: scale(1.4) rotate(.1deg);
						transform: scale(1.4) rotate(.1deg);
						-webkit-transition: 10s linear;
						transition: 10s linear;
					}
				}
			}
		}

		&-img {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			opacity: 0;
			-webkit-transition: 10s;
			transition: 10s;
			position: relative;
			overflow: hidden;
		}
	}

	&__btn {
		max-width: 264px;
		height: 80px;
		border: 1px solid #03A34D;
		width: 100%;
		@include font-size(24);
		font-weight: 600;
		@include flex(0, center);
		padding: 22px 24px;
		border-radius: 8px;
		position: absolute;
		right: 50px;
		bottom: 40px;
		background: #fff;

		span {
			color: #03A34D;
		}

		@include mq() {
			display: none;
		}

		@include p-after(40px, 40px) {
			background: url(../img/common/btn-green.png) no-repeat center/cover;
			top: 50%;
			transform: translateY(-50%);
			right: 24px;
		}
	}
}

@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}

	100% {
		transform: scale(1.2, 1.2);
	}
}

.zoom-out {
	animation: zoom-in-zoom-out 14s ease forwards;
}

.kodawrari-top {
	padding-top: 100px;
	padding-bottom: 160px;

	@include mq(tb) {
		padding-top: 80px;
		padding-bottom: 120px;
	}

	@include mq {
		padding: 50px 0 90px;
	}

	&__ttl {
		text-align: center;
		margin-bottom: 85px;
		@include font-size(80);
		font-weight: 600;

		@include mq {
			@include font-size(40);
			margin-bottom: 40px;
		}
	}

	&__list {
		@include flex(between, 0, wrap);
		padding-bottom: 14.5vw;

		@include mq {
			padding-bottom: 20vw;
		}

		li {
			position: relative;

			@include p-after(1.2vw, 11.5vw) {
				background: url(../img/index/arrow-green.png) no-repeat bottom center/100%;
				bottom: 5px;
				left: 50%;
				transform: translate(-50%, 100%);

				@include mq(tb) {
					bottom: -10px;
				}
			}

			a {
				width: 300px;
				height: 300px;
				overflow: hidden;
				border-radius: 50%;
				position: relative;

				@include mq(xl) {
					width: 250px;
					height: 250px;
				}

				@include mq {
					width: 28vw;
					height: 28vw;
				}

				@include p-before(100%, 100%) {
					top: 0;
					left: 0;
					background: rgb(3, 163, 77);
					background: linear-gradient(180deg, rgba(3, 163, 77, 1) 0%, rgba(0, 131, 60, 1) 100%);
					@include smooth-transition;
					opacity: 0;
					visibility: hidden;
					z-index: 2;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					@include object-fit(cover);
					@include smooth-transition;
				}

				span {
					@include font-size(60);
					line-height: 1;
					font-weight: 600;
					color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 4;
					width: 100%;
					text-align: center;

					@include mq {
						@include font-size(35);
					}
				}
			}

			&:hover {
				img {
					transform: scale(1.1);
					@include smooth-transition;
				}

				a {
					&::before {
						opacity: .8;
						visibility: visible;
						@include smooth-transition;
					}
				}
			}

			&:nth-child(1),
			&:nth-child(3) {
				margin-top: 35px;

				@include mq {
					margin-top: 20px;
				}
			}

			&:nth-child(1) {
				&::after {
					width: 12vw;
					height: 11vw;
					background: url(../img/index/arrow-green-01.png) no-repeat bottom center/100%;
					transform: translate(0, 100%);
					left: 75%;
					bottom: -13px;
				}
			}

			&:nth-child(3) {
				&::after {
					width: 14vw;
					height: 10.5vw;
					background: url(../img/index/arrow-green-02.png) no-repeat bottom center/100%;
					transform: translate(0, 100%);
					bottom: -25px;
					left: auto;
					right: 72%;

					@include mq(tb) {
						bottom: -17px;
					}
				}
			}
		}
	}

	&__btn {
		a {
			max-width: 520px;
			height: 206px;
			position: relative;
			background: rgb(3, 163, 77);
			background: linear-gradient(180deg, rgba(3, 163, 77, 1) 0%, rgba(0, 131, 60, 1) 100%);
			@include flex(center, center);
			border-radius: 8px;
			margin: 0 auto;
			@include font-size(80);
			color: #fff;
			font-weight: 600;
			line-height: 1;
			overflow: hidden;

			@include mq {
				max-width: 300px;
				height: 90px;
				@include font-size(40);
			}

			span {
				position: relative;
				z-index: 2;
				@include smooth-transition;
			}

			@include p-before(100%, 100%) {
				top: 0;
				left: 0;
				background: rgb(3, 163, 77);
				background: linear-gradient(180deg, rgba(3, 163, 77, 1) 0%, rgba(0, 131, 60, 1) 100%);
				@include smooth-transition;
				z-index: 2;
			}

			img {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 300px;
				@include object-fit(cover);
				@include smooth-transition;
			}
		}

		&:hover {
			@include mq(tb-min) {
				a {
					img {
						height: 100%;
						@include smooth-transition;
					}

					span {
						transform: translateX(-120px);
						@include smooth-transition;
					}

					&::before {
						opacity: 0.9;
						@include smooth-transition;
					}
				}
			}
		}
	}

	&__slider {
		margin-top: 11vw;
		margin-left: -15px;
		margin-right: -15px;

		@include mq {
			margin-left: -8px;
			margin-right: -8px;
		}

		@include mq {
			margin-top: 90px;
		}

		&-item {
			padding: 0 15px;

			@include mq {
				padding: 0 8px;
			}
		}

		.slick-list {
			padding-left: 0 !important;
		}
	}
}


.our-service {
	&__top {
		background: rgb(3, 163, 77);
		background: linear-gradient(180deg, rgba(3, 163, 77, 1) 0%, rgba(0, 131, 60, 1) 100%);
		padding: 8vw 0;
		@include flex(0, center, wrap);

		@include mq(sm) {
			padding: 0 0 90px;
		}

		&-img {
			width: 49.22%;

			@include mq(sm) {
				width: 100%;
			}
		}

		&-ct {
			width: calc(100% - 49.22%);
			padding-left: 140px;
			padding-right: calc((100% - 1350px)/2);
			color: #fff;

			@media screen and(max-width: 1450px) {
				padding-right: 20px;
				padding-left: 50px;
			}

			@include mq {
				padding-left: 30px;
			}

			@include mq(sm) {
				width: 100%;
				padding-left: 12px;
				padding-right: 12px;
				padding-top: 35px;
			}
		}

		&-ttl {
			padding-bottom: 45px;
			margin-bottom: 45px;
			border-bottom: 1px solid #fff;

			@include mq {
				padding-bottom: 20px;
				margin-bottom: 20px;
			}

			span {
				span {
					@include mq {
						display: inline-block;
						margin-left: 5px;
					}
				}
			}
		}

		&-txt-lead {
			@include font-size(24);
			font-weight: 600;
			margin-bottom: 12px;

			@include mq {
				@include font-size(18);
			}
		}

		&-desc {
			margin-bottom: 32px;

			@include mq {
				margin-bottom: 25px;
			}
		}

		&-btn {
			text-align: right;

			a {
				@include font-size(18);
				color: #fff;
				padding-right: 35px;
				position: relative;
				display: inline-block;

				@include mq {
					@include font-size(14);
				}

				@include p-after(24px, 24px) {
					background: url(../img/common/arrow-right.png) no-repeat center/cover;
					top: 50%;
					transform: translateY(-50%);
					right: 0;

					@include mq {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}

	&__gallery {
		@include flex(0, 0, wrap);

		li {
			width: 32%;

			@include mq(sm) {
				width: 100%;
			}

			&:nth-child(2) {
				width: 36%;

				@include mq(sm) {
					width: 50%;
				}
			}

			&:nth-child(3) {
				position: absolute;
				left: 32%;
				bottom: 0;
				width: 36%;

				@include mq(sm) {
					position: static;
					width: 50%;
				}
			}
		}
	}
}