@use 'vars' as *;

.privacy-policy{
	dl{
		margin-bottom: 40px;
		@include mq{
			margin-bottom: 30px;
		}
		&:last-child{
			margin-bottom: 0;
		}
		dt{
			@include font-size(20);
			color: #03A34D;
			font-weight: 600;
			padding-left: 25px;
			position: relative;
			padding-bottom: 10px;
			margin-bottom: 15px;
			border-bottom: 1px solid #E2E8F0;
			@include mq{

			}
			@include p-before(5px, 5px){
				background: #03A34D;
				border-radius: 50%;
				left: 10px;
				top: 10px;
				@include mq{
					width: 7px;
					height: 7px;
					left: 10px;
					transform: none;
					top: 10px;
				}
			}
		}
		dd{
			a{
				margin-right: 10px;
			}
			ol{
				counter-reset: li;
				>li{
					margin-bottom: 20px;
					position: relative;
					padding-left: 18px;
					&::before{
						counter-increment: li;
						content: counter(li) ".";
						position: absolute;
						top: 0;
						left: 0;
						font-weight: 600;
					}
					span{
						font-weight: 600;
						display: block;
					}
				}
			}
			ul{
				li{
					padding-left: 12px;
					position: relative;
					@include p-before(5px, 5px){
						background: #000;
						border-radius: 50%;
						top: 8px;
						left: 0;
					}
				}
			}
		}
	}
}

