@use "vars" as *;

.mv-page {
	margin-bottom: 8.333vw;
	@include mq{
		@include aspect-ratio(375, 210);
	}
	img{
		width: 100%;
	}
	@include mq{
		margin-bottom: 90px;
	}
}

.service-page {
	&__intro {
		margin-bottom: 90px;
		@include mq{
			margin-bottom: 40px;
		}
		.txt-lead {
			@include font-size(24);
			font-weight: 600;
			margin-bottom: 16px;
			@include mq{
				@include font-size(16);
				line-height: 1.5;
			}
		}

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__slider {
		margin-bottom: 160px;
		margin-left: -15px;
		margin-right: -15px;
		.slick-list{
			@include mq{
				padding-left: 0 !important;
			}
		}
		@include mq{
			margin-left: -8px;
			margin-right: -8px;
		}
		&-item{
			padding: 0 15px;
			@include mq{
				padding: 0 8px;
			}
		}
		@include mq{
			margin-bottom: 90px;
		}
	}
}


.service-request{
	&__top{
		padding-bottom: 90px;
		margin-bottom: 90px;
		border-bottom: 1px solid #E2E8F0;
		@include mq{
			padding-bottom: 40px;
			margin-bottom: 40px;
		}
		&-desc{
			margin-bottom: 60px;
			@include mq{
				margin-bottom: 40px;
			}
		}
	}
	&__main{
		&-ttl{
			@include font-size(40);
			font-weight: 600;
			margin-bottom: 60px;
			@include mq{
				@include font-size(24);
				margin-bottom: 30px;
			}
		}
		&-ct{
			margin-bottom: 90px;
			// @include mq{
			// 	margin-bottom: 40px;
			// }
			table{
				width: 100%;
				tr{
					border-bottom: 1px solid #ccc;
					@include mq{
						@include flex(between, 0, wrap);
						padding: 15px 15px;
					}
					&:first-child{
						border-top: 1px solid #ccc;
					}
					th, td{
						padding: 24px 0;
						@include mq{
							padding: 0;
						}
					}
					th{
						width: 31%;
						@include font-size(24);
						font-weight: 600;
						padding-left: 5.729vw;
						@include mq{
							width: 100%;
							@include font-size(20);
							padding-left: 0;
							margin-bottom: 10px;
						}
					}
					td{
						@include font-size(18);
						line-height: 1.4;
						width: 57%;
						@include mq{
							@include font-size(14);
							width: auto;
						}
						&:last-child{
							width: 12%;
							padding-right: 5.729vw;
							@include mq{
								padding-right: 0;
								width: auto;
							}
						}
					}
				}
			}
		}
	}

	&__gallery{
		padding-bottom: 6.250vw;
		border-bottom: 1px solid #E2E8F0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@include mq(sm){
			grid-template-columns: 1fr 1fr;
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}


.service-print{
	padding-bottom: 6.250vw;
	&__intro{
		margin-bottom: 9.375vw;
		@include mq{
			margin-bottom: 90px;
		}
	}
	&__box{
		padding-bottom: 90px;
		margin-bottom: 90px;
		border-bottom: 1px solid #E2E8F0;
		@include mq{
			padding-bottom: 40px;
			margin-bottom: 40px;
		}
		.slider-dots-box{
			margin-bottom: 30px;
			@include mq{
				margin-bottom: 20px;
			}
		}
		&:last-of-type{
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

//style common slider
.common-slider{
	li{
		@include mq{
			@include aspect-ratio(1, 1);
		}
	}
}
.slider-dots-box {
	@include flex(0, center);
	margin-top: 24px;
	@include mq{
		margin-top: 14px;
	}
	&.flex-end{
		justify-content: flex-end;
	}
}

.slider-dots {
	@include flex(0, center);
}

.slider-dots button {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: block;
	border: 0;
	background-color: transparent;
	margin: 0 2px;
	cursor: pointer;
	@include flex(center, center, wrap);
	padding: 0;
	transition: .3s all;
	position: relative;
	z-index: 0;
}

.slider-dots-box .slick-active button {
	&:after{
		background: #03A34D;
	}
}

.slider-dots button:after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #27364B;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.circle-bg {
	fill: rgba(255, 255, 255, 0);
	stroke: rgba(0, 0, 0, 0.05);
	stroke-width: 1;
	stroke-linecap: butt;
}

.circle-go {
	fill: rgba(255, 255, 255, 0);
	stroke: #03A34D;
	stroke-width: 1;
	stroke-linecap: round;
	animation: progress 25s;
	stroke-dasharray: 360px;
	stroke-dashoffset: 360;
}

@keyframes progress {
	from {
		stroke-dashoffset: 360;
	}

	to {
		stroke-dashoffset: 0;
	}
}


//styles page service__01
.service-child{
	margin-bottom: -100px;
	@include mq{
		margin-bottom: -50px;
	}
	&__intro{
		padding-bottom: 4.688vw;
		margin-bottom: 4.688vw;
		border-bottom: 1px solid #E2E8F0;
		@include mq{
			margin-bottom: 40px;
			padding-bottom: 40px;
		}
		p{
			margin-bottom: 4.688vw;
			@include mq{
				margin-bottom: 40px;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}

	&__list{
		@include flex(0, 0, wrap);
		margin: 0 -23px;
		counter-reset: li;
		@include mq{
			padding: 0 -15px;
		}
		@include p-after(100%, 1px){
			background: #fff;
			bottom: 90px;
			left: 0;
			@include mq{
				bottom: 40px;
			}
		}
		&-item{
			width: 50%;
			padding: 0 23px 90px;
			margin-bottom: 90px;
			// border-bottom: 1px solid #E2E8F0;
			position: relative;
			@include mq{
				padding: 0 15px 40px;
				margin-bottom: 40px;
			}
			@include mq(sm){
				width: 100%;
				margin-bottom: 40px;
			}
			@include p-after(calc(100% - 23px), 1px){
				background: #E2E8F0;
				bottom: 0;
				left: 23px;
				@include mq{
					width: calc(100% - 15px);
					left: 15px;
				}
				@include mq(sm){
					display: none;
				}
			}
			&:nth-child(even){
				&:after{
					left: 0;
				}
			}
		}
		&-img{
			margin-bottom: 25px;
			@include mq{
				margin-bottom: 15px;
			}
		}
		&-name{
			padding-left: 65px;
			@include font-size(32);
			font-weight: 600;
			position: relative;
			line-height: 1.5;
			@include mq{
				@include font-size(24);
				padding-left: 40px;
			}
			&::before{
				width: 48px;
				height: 48px;
				counter-increment: li;
				content: counter(li);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				font-weight: 600;
				color: #fff;
				@include font-size(24);
				background: linear-gradient(180deg, #03A34D 0%, #00833C 100%);
				@include flex(center, center);
				@include mq{
					width: 35px;
					height: 35px;
					@include font-size(18);
				}
			}
		}
	}
}