<div class="wrapper-child">
	<%- include('common/_breadcrumb'); %>
	<div class="inner">
		<h1 class="c-ttl__02">
			<span>About Us</span>
			<small>企業情報</small>
		</h1>
	</div>
</div>
<section class="mv-page">
	<img src="<%= RELATIVE_PATH %>img/about/mv.jpg" alt="About Us 企業情報">
</section>
<div class="wrapper-child">
	<section class="company-page section-page" id="id01">
		<div class="inner">
			<h2 class="c-ttl__03">
				<small>会社概要</small>
				<span>Company Profile</span>
			</h2>
			<div class="company-page__content c-txt__01">
				<dl>
					<dt>商号</dt>
					<dd>株式会社オノダ</dd>
				</dl>
				<dl>
					<dt>設立</dt>
					<dd>1984年12月</dd>
				</dl>
				<dl>
					<dt>資本金</dt>
					<dd>1,000万円</dd>
				</dl>
				<dl>
					<dt>事業内容</dt>
					<dd>印刷事業</dd>
				</dl>
				<dl>
					<dt>代表取締役</dt>
					<dd>小野田典生</dd>
				</dl>
				<dl>
					<dt>所在地</dt>
					<dd>〒143-0027 東京都大田区中馬込2-1-21浅間会館内</dd>
				</dl>
			</div>
		</div>
	</section>
	<section class="history-page section-page" id="id02">
		<div class="inner">
			<h2 class="c-ttl__03">
				<small>沿革</small>
				<span>Our History</span>
			</h2>
			<div class="history-page__wrapper">
				<div class="history-page__content c-txt__01">
					<dl>
						<dt>1961</dt>
						<dd>
							<p class="c-txt__lead">1961年11月</p>
							<p>東京都文京区に印刷用油脂を目的とする小野田商店を設立</p>
						</dd>
					</dl>
					<dl>
						<dt>1966</dt>
						<dd>
							<p class="c-txt__lead">1966年5月</p>
							<p>社名を有限会社小野田商店とし法人化とする。<br>印刷資材の販売開始。</p>
						</dd>
					</dl>
					<dl>
						<dt>1973</dt>
						<dd>
							<p class="c-txt__lead">1973年11月</p>
							<p>埼玉県日高市に丸善石油(現コスモ石油)高麗川給油所を開所。<br>日高市役所との取引開始。</p>
						</dd>
					</dl>
					<dl>
						<dt>1982</dt>
						<dd>
							<p class="c-txt__lead">1982年4月</p>
							<p>社名を有限会社小野田商店とし法人化とする。<br>印刷資材の販売開始。</p>
						</dd>
					</dl>
					<dl>
						<dt>1983</dt>
						<dd>
							<p class="c-txt__lead">1983年11月</p>
							<p>創立者である小野田わたるが死去。<br>代表取締役に小野田典生が就任。</p>
						</dd>
					</dl>
					<dl>
						<dt>1984</dt>
						<dd>
							<p class="c-txt__lead">1984年12月</p>
							<p>株式会社オノダを設立。本社を同区内に移転。<br>オノダマシナリー株式会社を機械商社として設立し、印刷機械、製版機械
								及び周辺機器の販売代理店業務を開始する。</p>
						</dd>
					</dl>
					<dl>
						<dt>1988</dt>
						<dd>
							<p class="c-txt__lead">1998年3月</p>
							<p>現住所に自社ビル(文京ONフラット)を建設し資材倉庫及び<br>危険物倉庫を完備。同時期に不動産賃貸業務を開始</p>
						</dd>
					</dl>
					<dl>
						<dt>2001</dt>
						<dd>
							<p class="c-txt__lead">2001年10月</p>
							<p>株式会社オノダがオノダマシナリー株式会社を吸収合併。</p>
						</dd>
					</dl>
					<dl>
						<dt>2016</dt>
						<dd>
							<p class="c-txt__lead">2016年11月</p>
							<p>創業55周年を迎える。</p>
						</dd>
					</dl>
				</div>
				<div class="history-page__img">
					<div class="history-page__img-item">
						<img src="<%= RELATIVE_PATH %>img/about/img-01.jpg" alt="About Us 企業情報">
					</div>
					<div class="history-page__img-item">
						<img src="<%= RELATIVE_PATH %>img/about/img-02.jpg" alt="About Us 企業情報">
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="box-sidebar">
	<ul class="box-sidebar__list">
		<li><a href="#id01">会社概要</a></li>
		<li><a href="#id02">沿革</a></li>
	</ul>
</div>