<%- include('common/_breadcrumb'); %>
<section class="sec-contact">
	<div class="inner contact-page">
		<h1 class="c-ttl__02">
			<span>Contact Us</span>
			<small>お問い合わせ</small>
		</h1>
		<form method="post" accept="/form-contact" class="contact-page__form">
			<h2 class="contact-page__form-ttl">お問い合わせフォーム</h2>
			<div class="contact-page__form-list">
				<dl class="contact-page__form-item">
					<dt class="contact-page__form-label">お名前<sub>*</sub></dt>
					<dd class="contact-page__form-input"><input type="text" value="" name="" class="form-control"></dd>
				</dl>
				<dl class="contact-page__form-item">
					<dt class="contact-page__form-label">会社名</dt>
					<dd class="contact-page__form-input"><input type="text" value="" name="" class="form-control"></dd>
				</dl>
				<dl class="contact-page__form-item">
					<dt class="contact-page__form-label">メールアドレス<sub>*</sub></dt>
					<dd class="contact-page__form-input"><input type="email" value="" name="" class="form-control"></dd>
				</dl>
				<dl class="contact-page__form-item">
					<dt class="contact-page__form-label">電話番号<sub>*</sub></dt>
					<dd class="contact-page__form-input"><input type="text" value="" name="" class="form-control"></dd>
				</dl>
				<dl class="contact-page__form-item contact-page__form-item--full">
					<dt class="contact-page__form-label">お問い合わせ内容</dt>
					<dd class="contact-page__form-input"><textarea name="" id="" cols="30" rows="10" class="form-control form-control--area"></textarea></dd>
				</dl>
			</div>
			<div class="contact-page__form-control">
				<button type="submit" class="btn-submit">入力内容の確認</button>
			</div>
		</form>
	</div>
</section>

