<div class="wrapper-child">
	<%- include('common/_breadcrumb'); %>
	<div class="inner">
		<h1 class="c-ttl__02">
			<span>物</span>
			<small>もの</small>
		</h1>
	</div>
	<section class="service-child">
		<div class="inner">
			<div class="service-child__intro c-txt__01">
				<p>長年の経験から色や紙にこだわり、多くの方に満足のできる商品をご提供させて頂いています。</p>
				<p><img src="https://placehold.jp/1290x436.png" alt="img"></p>
				<p>
					私たちは長年にわたる経験と深い専門知識を背景に、色彩と紙質へのこだわりを形にしています。これらの要素は、私たちが提供する各商品の品質を高め、皆様に満足のいく体験をお届けするための基石となっています。<br>
					私たちは最新の高度な機械を取り入れることで、一段と細かなニーズにも対応する能力を強化しています。これにより、さまざまな印刷の仕事に対応することが可能となり、お客様の多様な要望に応えることができます。<br>
					私たちの仕事は、ただ印刷するだけではありません。お客様の具体的な要望やビジョンを理解し、それを可能な限り具現化することこそが、私たちの目指すサービスの真髄です。お客様が求めるものを形にするために、私たちは全力で取り組みます。あらゆる印刷に関する要求に対応する体制が整っている私たちに、どんな挑戦もお任せください。
				</p>
			</div>
			<ul class="service-child__list">
				<li class="service-child__list-item">
					<div class="service-child__list-img">
						<img src="https://placehold.jp/622x394.png" alt="名刺">
					</div>
					<p class="service-child__list-name">名刺</p>
				</li>
				<li class="service-child__list-item">
					<div class="service-child__list-img">
						<img src="https://placehold.jp/622x394.png" alt="名刺">
					</div>
					<p class="service-child__list-name">名刺</p>
				</li>
				<li class="service-child__list-item">
					<div class="service-child__list-img">
						<img src="https://placehold.jp/622x394.png" alt="名刺">
					</div>
					<p class="service-child__list-name">名刺</p>
				</li>
				<li class="service-child__list-item">
					<div class="service-child__list-img">
						<img src="https://placehold.jp/622x394.png" alt="名刺">
					</div>
					<p class="service-child__list-name">名刺</p>
				</li>
				<li class="service-child__list-item">
					<div class="service-child__list-img">
						<img src="https://placehold.jp/622x394.png" alt="名刺">
					</div>
					<p class="service-child__list-name">名刺</p>
				</li>
				<li class="service-child__list-item">
					<div class="service-child__list-img">
						<img src="https://placehold.jp/622x394.png" alt="名刺">
					</div>
					<p class="service-child__list-name">名刺</p>
				</li>
			</ul>
		</div>
	</section>
</div>
<!-- <div class="box-sidebar">
	<ul class="box-sidebar__list">
		<li><a href="#id01">テキスト</a></li>
		<li><a href="#id02">テキスト</a></li>
		<li><a href="#id03">テキスト</a></li>
	</ul>
</div>  -->
